@mixin button-format ($text-color, $hover-text-color, $bg-active-color) {
    border-radius: var(--border-radius);
	appearance: none;
	letter-spacing: .25em;
    background-color: transparent;
    color: $text-color;
    font-weight: bold;
    border: none;

    &:hover {
        cursor: pointer;
        color: $hover-text-color;
    }

    &:active {
        background-color: $bg-active-color;
        color: $hover-text-color;
    }
}

@mixin label-format {
    font-size: 1.125rem;
    padding-block: 0.3rem;
}

@mixin input-format {
    width: 100%;
    border-radius: var(--border-radius);
    border: solid 2px var(--clr-primary);
    padding: 0.5rem 1.5rem;
    background-color: #f0f5e1;

    &:hover {
        background-color: var(--clr-accent);
        color: var(--clr-dark);
    }

    &:active {
        background-color: var(--clr-accent);
    }
}

@mixin select-format {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #f0f5e1;
    border: solid 2px var(--clr-primary);
    border-radius: var(--border-radius);
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--clr-accent);
        color: var(--clr-dark);
    }
}

@mixin textarea-format {
    width: 100%;
    resize: none;
    border-radius: var(--border-radius);
    border: solid 2px var(--clr-primary);
    padding: 0.5rem 1.5rem;
    background-color: #f0f5e1;
    min-height: 6rem;

    &:hover {
        background-color: var(--clr-accent);
        color: var(--clr-dark);
    }

    &:active {
        background-color: var(--clr-accent);
    }
}

@mixin card-hover ($size) {
    transform: scale($size);
}

@mixin img-frame {
    border: 0.5em double #757575;
}

@mixin title-text-shadow {
    text-shadow: var(--clr-accent) 1px 1px;
}

@mixin span-animation-style {
    position: relative;

    &::before {
        transition: width 0.4s ease-out, left 0.4s ease-out; 
        height: 2px;
        content: '';
        position: absolute;
        background-color: currentColor;
        width: 100%;
        bottom: -10px;
        left: 0;
    }
}

@mixin span-animation {
    width: 0; 
    left: 50%;
}
