$clr-light: #20130a;
$clr-dark: #e9f0c9;
$clr-primary: #123142;
$clr-secondary: #142026;
$clr-accent: #3b657a;
$bgc-body: linear-gradient(to bottom right, #f0f5e1, #e9f0c9);
$bs: #021E23 0px 1px 4px;
$br: 5px;