#search-form {
    display: flex;
    padding-top: 0.5rem;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width:1000px) {
        flex-flow: row wrap;
    }

    h2 {
        width: 100%;
        text-align: center;
        color: var(--bgc-nav);
        
        @include title-text-shadow;
        @media screen and (min-width: 1120px) {
            width: auto;
        }
    }
    div {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    div:nth-child(1) {
        flex-flow: column wrap;

        @media screen and (min-width:800px) {
            flex-flow: row wrap;
        }
    }

    div:nth-child(2) {
        flex-flow: row wrap;
    }

    select {
        @include select-format;
    }
}