#search-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;

    select {
        width: 100%;
        background-color: #f0f5e1;
        border: solid 2px var(--clr-primary);
        border-radius: var(--border-radius);
        padding: 0.5rem 1.5rem;
        font-family: 'Cinzel';
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            background-color: var(--clr-accent);
            color: var(--clr-dark);
        }
    }

    #house-search, #gender-search, #state-search {
        display: none;
    }
}