#warning-container {
    display: none;
    flex-flow: column wrap;
    padding-block: 1rem;
    padding-inline: 2rem;
    border: none;
    gap: 1rem;
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

    div:nth-child(1) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        font-size: 1.5rem;
        color: #990000;
    }

    div:nth-child(2) {
        font-weight: bold;
        text-align: center;
        font-size: 1.3em;
    }

    div:nth-child(3), div:nth-child(4) {
        text-align: center;
    }

    div:nth-child(5) {
        display: flex;
        justify-content: center;
    }

    button {
        @include button-format(var(--clr-dark), var(--clr-hover-btn), var(--clr-primary));
    
        letter-spacing: 0.1em;
        padding: 0.5rem;
    }

    button span {
        @include span-animation-style;
    }

    button:hover span::before {
        @include span-animation;
    }
}