@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
:root {
  --clr-light: #20130a;
  --clr-dark: #e9f0c9;
  --clr-primary: #123142;
  --clr-secondary: #142026;
  --clr-accent: #3b657a;
  --bgc-body: linear-gradient(to bottom right, #f0f5e1, #e9f0c9);
  --bgc-nav: #123142;
  --box-shadow: #021E23 0px 1px 4px;
  --border-radius: 5px;
}

.darkmode {
  --clr-light: #123142;
  --clr-dark: #20130a;
  --clr-primary: #142026;
  --clr-secondary: #e9f0c9;
  --bgc-body: linear-gradient(to bottom right, #142026, #20130a);
  --bgc-nav: #f0f5e1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Cinzel", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: var(--bgc-body);
  justify-content: space-between;
  min-height: 100vh;
}

.button {
  --offset: 5px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 0.8em 1.8em;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--clr-dark);
  text-transform: uppercase;
  font-family: "Cinzel";
  letter-spacing: 0.25em;
  outline: none;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
  cursor: pointer;
}
.button-horizontal, .button-vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button-horizontal::before, .button-vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button-horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button-horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button-horizontal {
  transform: scaleX(0);
}
.button-vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button-vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button-vertical {
  transform: scaleY(0);
}

.positive-btn {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
  border: 2px solid var(--bgc-nav);
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-secondary);
}
.positive-btn:hover {
  cursor: pointer;
  color: var(--clr-accent);
}
.positive-btn:active {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
}
.positive-btn:hover {
  border: 2px solid var(--clr-accent);
}

.negative-btn {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-light);
  font-weight: bold;
  border: none;
  border: 2px solid var(--bgc-nav);
  padding: 0.5rem 1.5rem;
  background-color: #fafcf9;
}
.negative-btn:hover {
  cursor: pointer;
  color: var(--clr-accent);
}
.negative-btn:active {
  background-color: var(--clr-secondary);
  color: var(--clr-accent);
}
.negative-btn:hover {
  border: 2px solid var(--clr-accent);
}

nav {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
}
@media screen and (min-width: 580px) {
  nav {
    gap: 1rem;
  }
  nav div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
nav h3 {
  display: none;
  font-family: "Explora";
  font-size: 1.5rem;
}
@media screen and (min-width: 1050px) {
  nav h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav #hamb-menu {
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
}
nav #hamb-menu:hover {
  cursor: pointer;
  color: var(--clr-accent);
}
nav #hamb-menu:active {
  background-color: var(--clr-secondary);
  color: var(--clr-accent);
}
@media screen and (min-width: 750px) {
  nav #hamb-menu {
    display: none;
  }
}
nav .nav-items {
  width: 100%;
  display: none;
  background-color: var(--bgc-nav);
  padding-bottom: 1rem;
}
@media screen and (min-width: 750px) {
  nav .nav-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 1rem 0 0;
    background-color: transparent;
    gap: 1rem;
    width: auto;
  }
}
nav .open {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
nav #btn-darkmode {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  position: relative;
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
}
nav #btn-darkmode:hover {
  cursor: pointer;
  color: currentColor;
}
nav #btn-darkmode:active {
  background-color: var(--clr-accent);
  color: currentColor;
}
nav #btn-darkmode span {
  position: relative;
}
nav #btn-darkmode span::before {
  transition: width 0.4s ease-out, left 0.4s ease-out; /* Transición suave del ancho y de la posición izquierda */
  height: 2px;
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 100%; /* Comienza con 100% de ancho */
  bottom: -10px;
  left: 0; /* Comienza desde el borde izquierdo */
}
nav #btn-darkmode:hover span::before {
  width: 0; /* Reduce el ancho a 0 */
  left: 50%; /* Mueve la posición izquierda al centro */
}
nav svg path {
  fill: var(--clr-dark);
}
nav h1 {
  font-family: "Cinzel", sans-serif;
  font-size: 2.2rem;
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
}
nav h1 svg path {
  fill: var(--clr-dark);
}
nav h1:hover {
  color: var(--clr-accent);
}
nav h1:hover svg path {
  fill: var(--clr-accent);
}

#search-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 1000px) {
  #search-form {
    flex-flow: row wrap;
  }
}
#search-form h2 {
  width: 100%;
  text-align: center;
  color: var(--bgc-nav);
}
#search-form div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
#search-form div:nth-child(1) {
  flex-flow: column wrap;
}
@media screen and (min-width: 800px) {
  #search-form div:nth-child(1) {
    flex-flow: row wrap;
  }
}
#search-form div:nth-child(2) {
  flex-flow: row wrap;
}
#search-form select {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #f0f5e1;
  border: solid 2px var(--clr-primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1.5rem;
  font-family: "Cinzel";
  font-size: 1.2rem;
  cursor: pointer;
}
#search-form select:hover {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}
@media screen and (min-width: 700px) {
  #search-form select {
    width: auto;
  }
}

footer {
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  padding-block: 0.8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  gap: 2rem;
}
footer p {
  font-size: 1.5rem;
  font-family: "Explora";
}
footer .footer-icon {
  color: var(--clr-dark);
}
footer .footer-icon:hover {
  color: var(--clr-accent);
}

/*# sourceMappingURL=styles.css.map */
