@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
:root {
  --clr-light: #123142;
  --clr-dark: #20130a;
  --clr-primary: #142026;
  --clr-secondary: #e9f0c9;
  --clr-accent: #3b657a;
  --bgc-body: linear-gradient(to bottom right, #142026, #20130a);
  --bgc-nav: #f0f5e1;
  --clr-hover-btn: #3b657a;
  --clr-edit-btn: #20130a;
  --clr-hover-edit-btn: #20130a;
  --box-shadow: var(--clr-accent) 0px 1px 4px;
  --border-radius: 5px;
}

.darkmode {
  --clr-light: #20130a;
  --clr-dark: #e9f0c9;
  --clr-primary: #123142;
  --clr-secondary: #142026;
  --clr-accent: #3b657a;
  --bgc-body: linear-gradient(to bottom right, #f0f5e1, #e9f0c9);
  --bgc-nav: #123142;
  --clr-hover-btn: #f0f5e1;
  --clr-edit-btn: #e9f0c9;
  --clr-hover-edit-btn: #123142;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Cinzel", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: var(--bgc-body);
  justify-content: space-between;
  min-height: 100vh;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
}

.button {
  --offset: 5px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 0.8em 1.8em;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--clr-dark);
  text-transform: uppercase;
  font-family: "Cinzel";
  letter-spacing: 0.25em;
  outline: none;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
  cursor: pointer;
}
.button:active {
  background-color: var(--clr-light);
}
.button-horizontal, .button-vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button-horizontal::before, .button-vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button-horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button-horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button-horizontal {
  transform: scaleX(0);
}
.button-vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button-vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button-vertical {
  transform: scaleY(0);
}

.positive-btn {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
  border: 2px solid var(--bgc-nav);
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-secondary);
}
.positive-btn:hover {
  cursor: pointer;
  color: var(--clr-accent);
}
.positive-btn:active {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
}
.positive-btn:hover {
  border: 2px solid var(--clr-accent);
}

.negative-btn {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-light);
  font-weight: bold;
  border: none;
  border: 2px solid var(--bgc-nav);
  padding: 0.5rem 1.5rem;
  background-color: #fafcf9;
}
.negative-btn:hover {
  cursor: pointer;
  color: var(--clr-accent);
}
.negative-btn:active {
  background-color: var(--clr-secondary);
  color: var(--clr-accent);
}
.negative-btn:hover {
  border: 2px solid var(--clr-accent);
}

.edit-btn {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-edit-btn);
  font-weight: bold;
  border: none;
  border: 2px solid var(--clr-edit-btn);
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-accent);
}
.edit-btn:hover {
  cursor: pointer;
  color: var(--bgc-nav);
}
.edit-btn:active {
  background-color: var(--clr-dark);
  color: var(--bgc-nav);
}
.edit-btn:hover {
  border: 2px solid var(--bgc-nav);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#render-spinner {
  width: 10rem;
  display: none;
}

.house-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 1rem;
  max-height: 25rem;
  min-width: 18rem;
  border: none;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
  border-radius: 5px 5px 50px 50px;
}
.house-card:hover {
  transform: scale(1.05);
}
.house-card h2 {
  text-shadow: var(--clr-accent) 1px 1px;
}
.house-card img {
  max-width: 10rem;
}
.house-card h3 {
  font-family: "Explora", sans-serif;
  font-size: 1.5rem;
}
.house-card button {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
  letter-spacing: 0.1em;
  padding: 0.5rem;
}
.house-card button:hover {
  cursor: pointer;
  color: var(--clr-hover-btn);
}
.house-card button:active {
  background-color: var(--clr-primary);
  color: var(--clr-hover-btn);
}
.house-card button span {
  position: relative;
}
.house-card button span::before {
  transition: width 0.4s ease-out, left 0.4s ease-out;
  height: 2px;
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 100%;
  bottom: -10px;
  left: 0;
}
.house-card button:hover span::before {
  width: 0;
  left: 50%;
}

.house-form {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  padding: 1rem;
  width: 90%;
  border: none;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media screen and (min-width: 1000px) {
  .house-form {
    gap: 1rem;
    padding-inline: 2rem;
    width: 70%;
  }
}
.house-form h2 {
  text-shadow: var(--clr-accent) 1px 1px;
  text-align: center;
}
.house-form label {
  font-size: 1.125rem;
  padding-block: 0.3rem;
}
.house-form input {
  width: 100%;
  border-radius: var(--border-radius);
  border: solid 2px var(--clr-primary);
  padding: 0.5rem 1.5rem;
  background-color: #f0f5e1;
}
.house-form input:hover {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}
.house-form input:active {
  background-color: var(--clr-accent);
}
.house-form #new-house-color {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0;
}
.house-form div {
  display: grid;
  gap: 0.2rem;
}
@media screen and (min-width: 1000px) {
  .house-form div:nth-child(2), .house-form div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
}
.house-form div:nth-child(3) div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .house-form div:nth-child(3) div:nth-child(1) {
    flex-direction: row;
    width: 50%;
  }
}
.house-form div:nth-child(3) div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .house-form div:nth-child(3) div:nth-child(2) {
    width: 50%;
  }
}
.house-form div:nth-child(4) {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.reduced-character-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 1rem;
  min-height: 36rem;
  max-height: 45rem;
  width: 90%;
  border: none;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media screen and (min-width: 600px) {
  .reduced-character-card {
    min-width: 18rem;
    max-width: 30rem;
  }
}
.reduced-character-card:hover {
  transform: scale(1.03);
}
.reduced-character-card h2 {
  text-shadow: var(--clr-accent) 1px 1px;
}
.reduced-character-card img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  object-fit: contain;
  border: 0.5em double #757575;
}
.reduced-character-card p {
  font-family: "Explora", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.reduced-character-card button {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
  padding: 0.5rem;
}
.reduced-character-card button:hover {
  cursor: pointer;
  color: var(--clr-hover-btn);
}
.reduced-character-card button:active {
  background-color: var(--clr-primary);
  color: var(--clr-hover-btn);
}
.reduced-character-card button span {
  position: relative;
}
.reduced-character-card button span::before {
  transition: width 0.4s ease-out, left 0.4s ease-out;
  height: 2px;
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 100%;
  bottom: -10px;
  left: 0;
}
.reduced-character-card button:hover span::before {
  width: 0;
  left: 50%;
}

.header-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  max-height: 16rem;
  padding-bottom: 1rem;
}

.extended-character-card {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
  border: none;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media screen and (min-width: 700px) {
  .extended-character-card {
    min-height: 50%;
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .extended-character-card {
    width: 70%;
  }
}
.extended-character-card div:nth-child(3) {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.extended-character-card p {
  font-family: "Explora", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: bold;
}

.character-info-card {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
@media screen and (min-width: 700px) {
  .character-info-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
.character-info-card div:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (min-width: 700px) {
  .character-info-card div:nth-child(1) {
    width: 100%;
  }
}
.character-info-card div:nth-child(2) {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.character-info-card div:nth-child(2) h2 {
  text-shadow: var(--clr-accent) 1px 1px;
}
.character-info-card div:nth-child(3) {
  flex-direction: column;
}
.character-info-card div:nth-child(4) {
  display: flex;
  justify-content: center;
}
.character-info-card button {
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
  padding: 0.5rem;
}
.character-info-card button:hover {
  cursor: pointer;
  color: var(--clr-hover-btn);
}
.character-info-card button:active {
  background-color: var(--clr-primary);
  color: var(--clr-hover-btn);
}
.character-info-card button span {
  position: relative;
}
.character-info-card button span::before {
  transition: width 0.4s ease-out, left 0.4s ease-out;
  height: 2px;
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 100%;
  bottom: -10px;
  left: 0;
}
.character-info-card button:hover span::before {
  width: 0;
  left: 50%;
}

.house-emblem {
  width: 2rem;
}
@media screen and (min-width: 700px) {
  .house-emblem {
    width: 3rem;
  }
}

.character-portrait {
  width: 10rem;
  border-radius: var(--border-radius);
  border: 0.5em double #757575;
}

.character-form {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  padding: 1rem;
  width: 90%;
  border: none;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
@media screen and (min-width: 890px) {
  .character-form {
    gap: 1rem;
  }
}
@media screen and (min-width: 890px) {
  .character-form {
    width: 70%;
  }
}
.character-form h2 {
  text-shadow: var(--clr-accent) 1px 1px;
  text-align: center;
}
.character-form label {
  font-size: 1.125rem;
  padding-block: 0.3rem;
}
.character-form input {
  width: 100%;
  border-radius: var(--border-radius);
  border: solid 2px var(--clr-primary);
  padding: 0.5rem 1.5rem;
  background-color: #f0f5e1;
}
.character-form input:hover {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}
.character-form input:active {
  background-color: var(--clr-accent);
}
.character-form select {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #f0f5e1;
  border: solid 2px var(--clr-primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  width: 100%;
}
.character-form select:hover {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}
@media screen and (min-width: 700px) {
  .character-form select {
    width: auto;
  }
}
@media screen and (min-width: 890px) {
  .character-form select {
    width: 45%;
  }
}
.character-form textarea {
  width: 100%;
  resize: none;
  border-radius: var(--border-radius);
  border: solid 2px var(--clr-primary);
  padding: 0.5rem 1.5rem;
  background-color: #f0f5e1;
  min-height: 6rem;
}
.character-form textarea:hover {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}
.character-form textarea:active {
  background-color: var(--clr-accent);
}
.character-form div {
  display: grid;
  gap: 0.2rem;
}
@media screen and (min-width: 890px) {
  .character-form div:nth-child(2), .character-form div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
  }
}
.character-form div:nth-child(7) {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

nav {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  box-shadow: var(--box-shadow);
}
@media screen and (min-width: 580px) {
  nav {
    gap: 1rem;
  }
  nav div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
nav h3 {
  display: none;
  font-family: "Explora";
  font-size: 1.5rem;
}
@media screen and (min-width: 1250px) {
  nav h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav #hamb-menu {
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
}
nav #hamb-menu:hover {
  cursor: pointer;
  color: var(--clr-accent);
}
nav #hamb-menu:active {
  background-color: var(--clr-secondary);
  color: var(--clr-accent);
}
@media screen and (min-width: 889px) {
  nav #hamb-menu {
    display: none;
  }
}
nav .nav-items {
  width: 100%;
  display: none;
  background-color: var(--bgc-nav);
  padding-bottom: 1rem;
}
@media screen and (min-width: 890px) {
  nav .nav-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 1rem 0 0;
    background-color: transparent;
    gap: 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1000px) {
  nav .nav-items {
    gap: 2rem;
  }
}
nav .open {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.3rem;
  gap: 1.5rem;
}
nav #btn-darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: var(--border-radius);
  appearance: none;
  letter-spacing: 0.25em;
  background-color: transparent;
  color: var(--clr-dark);
  font-weight: bold;
  border: none;
}
nav #btn-darkmode:hover {
  cursor: pointer;
  color: currentColor;
}
nav #btn-darkmode:active {
  background-color: var(--clr-accent);
  color: currentColor;
}
nav #btn-darkmode span {
  position: relative;
}
nav #btn-darkmode span::before {
  transition: width 0.4s ease-out, left 0.4s ease-out;
  height: 2px;
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 100%;
  bottom: -10px;
  left: 0;
}
nav #btn-darkmode:hover span::before {
  width: 0;
  left: 50%;
}
nav svg path {
  fill: var(--clr-dark);
}
nav h1 {
  font-family: "Cinzel", sans-serif;
  font-size: 2.2rem;
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
}
nav h1 svg path {
  fill: var(--clr-dark);
}
nav h1:hover {
  color: var(--clr-accent);
}
nav h1:hover svg path {
  fill: var(--clr-accent);
}

#search-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 1000px) {
  #search-form {
    flex-flow: row wrap;
  }
}
#search-form h2 {
  width: 100%;
  text-align: center;
  color: var(--bgc-nav);
  text-shadow: var(--clr-accent) 1px 1px;
}
@media screen and (min-width: 1120px) {
  #search-form h2 {
    width: auto;
  }
}
#search-form div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#search-form div:nth-child(1) {
  flex-flow: column wrap;
}
@media screen and (min-width: 800px) {
  #search-form div:nth-child(1) {
    flex-flow: row wrap;
  }
}
#search-form div:nth-child(2) {
  flex-flow: row wrap;
}
#search-form select {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #f0f5e1;
  border: solid 2px var(--clr-primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
#search-form select:hover {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}
@media screen and (min-width: 700px) {
  #search-form select {
    width: auto;
  }
}

.content {
  display: flex;
  flex-flow: column wrap;
  columns: 3;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 850px) {
  .content {
    flex-flow: row wrap;
    padding: 1rem;
  }
}

footer {
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
  padding-block: 0.8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  gap: 2rem;
}
footer p {
  font-size: 1.5rem;
  font-family: "Explora";
  font-weight: bold;
  text-align: center;
}
footer .footer-icon {
  color: var(--clr-dark);
}
footer .footer-icon:hover {
  color: var(--clr-accent);
}

/*# sourceMappingURL=styles.css.map */
