.house-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 1rem;
    max-height: 25rem;
    min-width: 18rem;
    border: none;
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    box-shadow: var(--box-shadow);
    border-radius: 5px 5px 50px 50px;

    &:hover {
        @include card-hover(1.05);
    }

    h2 {
        text-shadow: var(--clr-accent) 1px 1px;
    }

    img {
        max-width: 10rem;
    }

    h3 {
        font-family: 'Explora', sans-serif;
        font-size: 1.5rem;
    }

    button {
        @include button-format(var(--clr-dark), var(--clr-hover-btn), var(--clr-accent));
    
        letter-spacing: 0.1em;
        padding: 0.5rem;
    }

    button span {
        position: relative;
        
        &::before {
            transition: width 0.4s ease-out, left 0.4s ease-out; 
            height: 2px;
            content: '';
            position: absolute;
            background-color: currentColor;
            width: 100%;
            bottom: -10px;
            left: 0;
        }
    }

    button:hover span::before {
            width: 0; 
            left: 50%;
        }
}