.house-information-section {
    display: flex;
    width: 90%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: var(--clr-secondary);
    padding-inline: 1rem;
    gap: 1.5rem;

    h2 {
        @include title-text-shadow;
        font-size: 2.2rem;
        text-align: center;
    }

    img {
        min-width: 5rem;
    }

    p {
        font-family: 'Explora', sans-serif;
        font-size: 2rem;
        text-align: justify;
        font-weight: bold;
    }

    div:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            @include button-format(var(--clr-secondary), var(--clr-accent), var(--clr-primary));
            padding: 0.5rem;
        }
    
        button span {
            @include span-animation-style;
        }
    
        button:hover span::before {
            @include span-animation;
        }
    }

    div:nth-child(4) {
        display: flex;
        gap: 2rem;

    }
};