.negative-btn {
    @include button-format(var(--clr-light), var(--clr-accent), var(--clr-secondary));

    border: 2px solid var(--bgc-nav);
    padding: 0.5rem 1.5rem;
    background-color: #fafcf9;

    &:hover {
        border: 2px solid var(--clr-accent);
    }
}