:root {
    --clr-light: #20130a;
    --clr-dark: #e9f0c9;
    --clr-primary: #123142;
    --clr-secondary: #142026;
    --clr-accent: #3b657a;
    --bgc-body: linear-gradient(to bottom right, #f0f5e1, #e9f0c9);
    --bgc-nav: #123142;
    --clr-hover-btn: #f0f5e1;
    --box-shadow: var(--clr-accent) 0px 1px 4px;
    --border-radius: 5px;
}

.darkmode {
    --clr-light: #123142;
    --clr-dark: #20130a;
    --clr-primary: #142026;
    --clr-secondary: #e9f0c9;
    --bgc-body: linear-gradient(to bottom right, #142026, #20130a);
    --bgc-nav: #f0f5e1;
    --clr-hover-btn: #3b657a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cinzel", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: var(--bgc-body);
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
}